:root {
    --primary-font-size: 15px;
    --input-padding: 10px;
    --input-border: 1px solid var(--faint-text-color);
    --container-width: 100%;
}

.student-signup-page {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.student-signup-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: var(--input-border);
    background-color: white;
    height: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.student-signup-image {
    position: relative;
    width: 50%;
    height: 100%;
}

.student-signup-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(30%);
}

.student-overlay-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

.student-overlay-text h1 {
    color: var(--green-color);
    font-size: 2rem;
    margin-bottom: 10px;
}

.student-overlay-text p {
    font-size: 1.2rem;
    color: var(--background-color);
}

.student-signup-form {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.student-signup-title {
    text-align: center;
    margin-bottom: 50px;
}

.student-names,
.student-phone-number-input,
.student-email-input,
.student-password-input,
.student-password-confirmation {
    display: flex;
    flex-direction: column;
    width: var(--container-width);
    margin: 10px auto 0;
}

.student-names {
    flex-direction: row;
    justify-content: space-between;
}

.student-first-name,
.student-last-name {
    width: 48%;
}

.student-first-name input,
.student-last-name input,
.student-phone-number-input input,
.student-email-input input,
.student-password-input input,
.student-password-confirmation input {
    padding: var(--input-padding);
    margin-top: 5px;
    border-radius: 0;
    border: var(--input-border);
    width: 100%;
}

.student-phone-number-input label,
.student-email-input label,
.student-password-input label,
.student-password-confirmation label,
.student-first-name label,
.student-last-name label {
    font-size: var(--primary-font-size);
    margin-bottom: 5px;
}

.student-password-field {
    position: relative;
}

.student-password-field input {
    width: 100%;
}

.student-eye-icon {
    position: absolute;
    right: 10px;
    top: 60%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.student-signup-btn {
    margin: 20px auto 0;
    display: flex;
    justify-content: center;
    padding: 12px;
    width: var(--container-width);
    text-align: center;
    color: var(--background-color);
    background-color: var(--text-color);
}

.student-have-an-account {
    text-align: center;
    margin-top: 10px;
}

.student-have-an-account p span a {
    color: var(--blue-link-color);
}

.student-have-an-account p span a:hover {
    text-decoration: underline;
}

.errors {
    width: var(--container-width);
}