.steps-intro-container {
  min-height: 50vh;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.steps-intro-contents {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.steps-intro-contents h3 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
  margin: 0;
}

.steps-intro-contents h2 {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--text-color);
  margin: 0;
}

.steps-intro-contents p {
  font-size: 1rem;
  color: var(--faint-text-color);
  line-height: 1.5;
  margin: 0;
}

.steps-intro-video {
  width: 50%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  overflow: hidden;
}

.steps-intro-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

/* Responsive Design */
@media (max-width: 1060px) {
  .steps-intro-video {
    height: 450px;
  }
}

@media (max-width: 970px) {
  .steps-intro-container {
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
  }

  .steps-intro-contents, .steps-intro-video{
    width: 88%;
  }
  .steps-intro-video {
    height: 450px;
  }
}

@media (max-width: 590px) {
  .steps-intro-container {
    flex-direction: column;
    gap: 2rem;
    padding: .8rem;
  }

  .steps-intro-contents,
  .steps-intro-video {
    width: 100%;
  }

  .steps-intro-video {
    height: 400px;
  }

  .steps-intro-video video {
    height: 100%;
    width: 100%;
  }
}
