.student-navbar {
    padding: 5px 10px;
    background-color: var(--background-color);
    width: 100%;
    box-shadow: 0 -1px 4px rgba(2, 2, 2, 0.15);}

.scroll-navbar {
    box-shadow: 0 -1px 4px rgba(2, 2, 2, 0.15);
}

.student-navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.student-logo-section a img {
    height: 90px;
}

.student-navbar-links {
    display: flex;
    align-items: center;
}

.student-navbar-username {
    font-size: 1rem;
    text-transform: capitalize;
}

.student-navbar-username a {
    color: var(--orange-color);
}

.student-navbar-username a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1024px) {
    .student-logo-section {
        width: 70px;
    }

    .student-navbar-links {
        gap: 0px;
    }
}

@media screen and (max-width: 500px){
    .welcome-username{
        display: none;
    }
}