:root {
  --background-color: #f4f4f4;
  --pink-color: #f2dde3;
  --green-color: #063231;
  --text-color: #0d0c22;
  --faint-text-color: #666666;
  --dark-pink: #f1bfcd;
  --light-green: #96d5d3;
  --blue-link-color: #3328fe;
  --orange-color: #ea5024;
  --dashboard-color: #ddddddda;
}

.navbar {
  background-color: var(--background-color);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.scroll-navbar {
  box-shadow: 0 -1px 4px rgba(2, 2, 2, 0.15);
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  height: 90px;
  width: auto;
}

.navbar-logo img {
  width: 100%;
  height: 100%;
}

.navbar-links {
  display: flex;
  gap: 25px;
  align-items: center;
}

.navbar-links a {
  color: var(--text-color);
  text-decoration: none;
}

.nav-item {
  font-size: 16px;
  color: var(--text-color);
  transition: color 0.3s ease;
  position: relative;
}

.nav-item.active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background-color: var(--green-color);
}

.nav-item:hover {
  color: var(--green-color);
}

.nav-right-side {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-login-button {
  background-color: var(--green-color);
  color: var(--background-color);
}

.navbar-login-button:hover {
  background-color: var(--background-color);
  border: 2px solid var(--green-color);
  color: var(--green-color);
}

.navbar-menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--text-color);
}

.hide-on-large {
  display: none;
}

@media screen and (max-width: 950px) {
  .navbar {
    border-bottom: 1px solid #ebebeb;
  }

  .navbar-links {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 50%;
    background-color: var(--green-color, #063231);
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    transition: right 0.7s ease;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1);
    gap: 20px;
  }

  .navbar-links a {
    color: var(--dashboard-color);
  }

  .navbar-login-button {
    background-color: var(--background-color);
    color: var(--green-color) !important;
  }

  .navbar-login-button:hover {
    background-color: var(--background-color);
    border: 2px solid var(--green-color);
    color: var(--green-color);
  }
  .navbar-links.active {
    right: 0;
  }

  .navbar-menu-icon {
    display: inline-block;
    color: var(--text-color);
    z-index: 1101;
  }

  .large-screen-only {
    display: none;
  }

  .hide-on-small {
    display: none !important;
  }

  .hide-on-large {
    display: flex !important;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
}

@media screen and (max-width: 450px) {
  .navbar-logo {
    height: 70px;
  }

  .navbar-links {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 70%;
    background-color: var(--green-color, #063231);
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    transition: right 0.3s ease;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1);
    gap: 20px;
  }

  .navbar-menu-icon {
    font-size: 18px;
  }
}

.user-avatar-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 10px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.user-avatar-container:hover {
  background-color: #f0f0f0;
}

.user-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--orange-color);
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  border: 2px solid var(--orange-color);
}

.avatar-username {
  font-size: 1rem;
  color: var(--text-color);
  font-weight: 500;
}

@media screen and (max-width: 950px) {
  .avatar-username {
    display: none;
  }
  .user-avatar {
    width: 32px;
    height: 32px;
    font-size: 0.95rem;
  }
  .user-avatar-container {
  }
}
