.role-selection-page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    /* margin-top: 200pxz; */
}
.role-selection__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 100%;
    margin: auto 0;
}

.role-selection-page h3 {
    color: var(--faint-text-color);
    font-weight: 400;
    text-transform: uppercase;
}

.role-selection-page h3::before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 2px;
    background-color: var(--text-color);
    margin-right: 10px;
    vertical-align: middle;
}

.role-selection-page h2 {
    margin: 5px 0 30px;
}

.role-selection-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    padding: 10px;
}

.role-selection-container h4 {
    font-weight: 500;
}

.role-card {
    padding: 20px;
    border: 2px solid #ccc;
    cursor: pointer;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    transition: 0.6s linear;
}

.role-card img {
    width: 60%;
}

.role-card.selected-landlord {
    background-color: var(--dark-pink);
}

.role-card.selected-student {
    background-color: var(--light-green);
}

.continue-btn {
    background-color: var(--green-color);
    color: var(--background-color);
    padding: 0.75rem 1.5rem;
    margin-top: 2rem;
    cursor: pointer;
    border: none;
    border-radius: 20px;
}

@media screen and (max-width: 768px) {
    .role-selection-page {
        min-height: 100vh;
        padding-top: 80px; /* Account for navbar */
    }
    .role-selection-container {
        gap: 1rem;
    }
}
@media screen and (max-width: 425px) {
    .role-selection-container{
        flex-direction: column;
        gap: 0.6rem;
    }
}