.sidebar {
    background-color: var(--background-color);
    color: #fff;
    width: 18%;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width 0.3s ease;
    border-right: 1px solid var(--faint-text-color);    
}

.sidebar.collapsed {
    width: 100px;
}

.sidebar-contents {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    padding: 5px;
}

.sidebar-logo img {
    width: 80%;
    max-width: 180px;
    transition: opacity 0.3s ease;
}

.sidebar.collapsed .sidebar-logo img {
    opacity: 0;
    width: 0;
}

.sidebar-links {
    list-style: none;
    padding: 0;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 40px;
}

.sidebar-links li {
    width: 100%;
    gap: 5px;
}

.sidebar-links a {
    display: flex;
    align-items: center;
    padding: 15px;
    color: var(--faint-text-color);
    text-decoration: none;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.sidebar-links a:hover {
    background-color: var(--text-color);
    color: var(--background-color);
    border-radius: 30px;
}

.sidebar-links a.active {
    background-color: var(--text-color);
    color: var(--background-color);
    border-radius: 30px;
}

.sidebar-icon {
    margin-right: 10px;
    font-size: 1.2em;
}

.sidebar.collapsed .sidebar-links a .sidebar-icon {
    margin: 0;
}

.sidebar-user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.sidebar-user-profile a {
    color: var(--faint-text-color);
    text-decoration: none;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar-user-profile a:hover {
    text-decoration: underline;
}

.sidebar-user-profile a .profile-sidebar-icon{
    font-size: 2.5rem;

}
.sidebar-user-profile .sidebar-logout {
    width: 50%;
}
.sidebar-user-profile .sidebar-logout button {
    padding: 8px;
    width: 100%;
    background: var(--text-color);
    color: var(--background-color);
}

.sidebar-toggle {
    position: absolute;
    top: 0;
    right: -0px;
    background-color: var(--faint-text-color);
    color: #fff;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 1px;
    transition: transform 0.8s ease;
}

.sidebar-toggle:hover {
    background-color: var(--text-color);
}

@media screen and (max-width: 1024px){
    .sidebar{
        width: 20%;
    }

    .sidebar-user-profile .sidebar-logout button {
        padding: 8px 30px 8px;
        background: var(--text-color);
        color: var(--background-color);
    }
}


