@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

:root {
  /* Colors */
  --background-color: #f4f4f4;
  --pink-color: #F2DDE3;
  --green-color: #063231;
  --text-color: #0d0c22;
  --faint-text-color: #666666;
  --dark-pink: #F1BFCD;
  --light-green: #96D5D3;
  --blue-link-color: #3328FE;
  --orange-color: #EA5024;
  --dashboard-color: #ddddddda;

  /* Font sizes */
  --h1-fs: 48px;
  --h2-fs: 30px;
  --text-size: 16px;

  /* Font families */
  --h1-ff: 'Source Serif 4', 'Outfit', serif;
  --text-ff: 'Outfit', serif;

  /* Font weights */
  --h1-fw: 700;
  --text-fw: 400;
  --text-bold: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  font-family: var(--text-ff);
  height: 100%;
}

a {
  text-decoration: none;
}

li,
ul {
  list-style: none;
}

button {
  outline: none;
  border: none;
}

input {
  outline: none;
}

.h2-heading {
  font-size: 36px;
  font-weight: 500;
  font-family: var(--h1-ff);
  letter-spacing: -1px;
}

.container {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 94%;
}

.section {
  margin-top: 4rem;
}

::-webkit-scrollbar {
  display: none;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
  gap: 1.5rem;
}

.dash-icons {
  font-size: 1.1rem;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--inputColor);
  padding: .8rem 1rem;
  color: var(--textColor);
}

.btn .icon {
  margin-left: .5rem;
}

.btn:hover {
  background: var(--pink-color);
  color: var(--background-color);
}

@media screen and (max-width: 900px) {
  .h2-heading {
    letter-spacing: -2px;
    font-size: 32px;
    word-spacing: -0.5px;
  }
}